body {
    background-color: rgb(146, 143, 140);
    padding: 10px;
    }

.feedbacktype {
    margin-top: 20px;
    background-color: white;
    padding-bottom: 50px;
}

.field {
    background-color: white;
}
.forms {
    border-top: 40px solid rgba(46, 139, 87, .5);
    margin: 0 auto;
    max-width: 800px;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border-radius: 10px;
}

.textbox {
    background-color: rgba(46, 139, 87, .5);
    width: 300px
}

.skinnytextbox {
    background-color: rgba(46, 139, 87, .5);
    width: 500px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-top:50px
  }

#logo{
    position: absolute;
    right: -30px;
    top: -125px;
    margin: 10px 10px 10px 10px;
    width: 100px;
    height: 100x;
}

 .logo-container{
    position: relative;

}


.Submitbutton button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.Submitbutton {
    width: 200px; 
    height: 80px; 
    margin: 0 auto;
    background-color: #66cdaa; 
    border: 2px solid #c0c0c0; 
    cursor: pointer; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    overflow: hidden; 
    border-radius: 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s; 
}

.Submitbutton span {
    position: relative; 
    z-index: 1; 
    color: white; 
    font-size: 16px; 
}


.Submitbutton:hover {
    background-color: #4cafaa; 
    transform: scale(1.05); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); 
}


.forms fieldset > div {
    margin-left : 30px; /* Adjust as needed */
    margin-right: 30px
}

.rBorder {
    border-radius: 4px;
}